html{
  scroll-behavior: smooth;
}
.container{
  display: flex;
  flex-direction: row;
  
}
.navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin-left: 50px;
}
.everythingg{
  margin-left: 650px;
  font-size: 16px;
}

p{
  width: 400px;
}


