.container{
  border: 3px solid black;
  width: 100%;
  margin-top: 0;
  height: 800px;
  display: flex;
  flex-direction: row;
}
.compssa-logo{
  height: 800px;
  border: 3px solid black;
  padding: 20px;
}

img{
  height: 600px
}

.compssa-info{
  display: flex;
  flex-direction: column;
   text-align: center;
   margin-right: 50px;
   align-items: center;
   justify-content: space-between;
}
