
.slider-container {
  position: relative;
  width: 1000px;
  overflow: hidden;
  height: 700px;
  z-index: -10;
}

.slider {
  display: flex;
  transition: transform 0.7s ease-in-out;
}

.slide {
  min-width: 1000px;
  min-height: 300px;
  box-sizing: border-box;
  padding: 0px;
  text-align: center;
  color: black;
}

p{
  line-height: 16px;
}

.navigation {
  position: absolute;
  top: 95%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  cursor: pointer;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.nav-btn:hover {
  background-color: #27ae60;
}
.everything{
  display: flex;
  height: 300px;
  width: 1000px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -10;
  top: 200px;
  left: 250px;
}
