.imageArea{
  border: 3px black solid;
  height: 300px;
  width: 1200px;
  margin-top: 5px;
  text-align: center;
  line-height: 350px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(team-of-programmers-writing-digital-code-in-the-metaverse-and-working-together-on-the-internet-group-of-web-designers-developing-a-cybersecurity-2JP488B.jpg);
  background-size: cover;
  margin-left: 140px;
}

h2{
  color: white;
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 45px;
}

