.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  color: #2C2A58;;
   
  
}
.left-section{
  display: flex;
  align-items: center;
}
.comp-logo{
  width: 350px;
  object-fit: contain;
}
.right-section{
  display: flex;
  gap: 10px;
}
.button-area{ 
   font-size: 20px;
   font-weight: bold;
   border: none;
   font-family: poppins, sans-serif;
   background-color: white;
}
button:hover{
  color: rgb(189, 148, 108);
}
